<!-- <footer class="black-bg">
	<div class="footer-bootom-area ptb-15">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="copyright">
						<p>2017</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer> -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ajax-mail.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nivo.slider.pack.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script>
	$('.start_center').animate({
		width: '100%'
	}, 1000);
	setTimeout(function() {
		$('.start_center').css('display', 'none');
		$('.start_top').animate({
			height: '0'
		}, 1000);
		$('.start_bottom').animate({
			height: '0'
		}, 1000);
	}, 1000);
</script>
</body>

</html>
